.main-section {
    width: 90%;
    margin: auto;
}

.main-section-title {
    text-align: start;
}

.contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.main-section-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 400px;
}

.main-image {
    width: 100%;
    border-radius: 10px;
}

.main-section-description {
    width: 45%;
    height: 400px;
    background-color: rgb(120,144,120);
    padding: 0.5rem;
    border-radius: 10px;
    overflow: scroll;
}

.main-title, .main-desc {
    text-align: start;
}