.main-section {
    width: 90%;
    margin: auto;
}

.main-section-title {
    color: whitesmoke;
    border-bottom: solid white 1px;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 1.3rem;
    text-align: start;
    padding-left: 3rem;
}

.contain {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
    margin-top: 3rem;
}

.main-section-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
    width: 45%;
}

.main-image {
    width: 100%;
    border-radius: 10px;
}

.main-section-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    background-color: rgba(120, 144, 120, 0.1);
    padding: 1rem;
    border-radius: 10px;
    overflow: auto;
}

.main-title {
    border-bottom: solid black 1px;
}

.main-desc {
    margin-top: 5%;
}

.main-title, .main-desc {
    text-align: start;
}