<div class="flags-bar">
    <img src="/images/flags/england.png" alt="england-flag">
    <img src="/images/flags/usa.png" alt="usa-flag">
    <img src="/images/flags/russia.png" alt="russia-flag">
    <img src="/images/flags/germany.png" alt="germany-flag">
    <img src="/images/flags/japan.png" alt="japon-flag">
</div>