<footer>
    <div class="footer">
        <div class="fotleft">
            <p><a href="#">Politica y privacidad</a></p>
            <p><a href="#">Terminos y condiciones</a></p>
            <p><a href="#">FAQ</a></p>
            <p><a href="#">Informacion de sitio</a></p>
        </div>
        <div class="fotmidle">
            <p>Copyright © 2022 WarUniques </p>
            <p>Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</p>
        </div>
        <div class="fotright">
            <div class="contactos">
                <div><img src="/images/wtp-icon.png" alt="whatsapp"></div>
                <div><img src="/images/mail-icon.png" alt="gmail"></div>
                <div><img src="/images/ig-icon.png" alt="intsa"></div>
            </div>
        </div>
    </div>
</footer>