    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>War Uniques</title>
    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
    <script src="https://kit.fontawesome.com/1b35912aa7.js" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/viewJS/main.js"></script>
