<header>
    <section class="main-bar">
        <div class="logo">
            <a href="/"><img src="/images/waruniques-logo1.png" alt="logo"></a>
        </div>
        <div class="search-panel">
            <input type="text">
            <!-- <i class="fa-regular fa-compass"></i> -->
            <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="nav-panel">
            <button class="hamb-menu" onclick="displayMenu()"><i class="fa-solid fa-bars"></i></button>
            <nav class="hamb-nav">
                <p><a href="/user/login">Log in</a></p>
                <p><a href="/user/signin">Sign in</a></p>
                <p><a href="/products/add">Vender</a></p>
            </nav>
        </div>
    </section>
</header>