<section>
    <div class="slider">
        <h4>Esta pagina sirve como mediador entre usuarios que han dado con objetos los cuales fueron parte de las
            grandes guerras que el mundo pudo vivir. Buscamos darle el merecido valor a estos objetos históricos, y
            que aquellas personas que quieran hacerse con uno poder darles la posibilidad.</h4>
    </div>
</section>