<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/chart.css">
</head>

<body>

    <%- include("./partials/header") %>

    <main class="main-section">
            <div class="Bigbox">
                <div class="tucarrito">
                    <p>TU CARRITO (2)</p>
                </div>
                <div class="desc">
                    <div class="dump">
                        <i class="fa-solid fa-trash"></i>
                    </div>

                    <div class="imgs">
                        <img
                            src="https://image.shutterstock.com/image-photo/german-helmet-protective-goggles-260nw-124094746.jpg">
                    </div>

                    <div class="c1">
                        <P>NOMBRE DEL PRODUCTO</P>
                        <img src="/images/germany.gif">
                    </div>

                    <div class="precio">
                        <p>$00000</p>
                    </div>
                </div>
                <div class="desc">
                    <div class="dump">
                        <i class="fa-solid fa-trash"></i>
                    </div>

                    <div class="imgs">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/M1917helmet.jpg">
                    </div>

                    <div class="c1">
                        <P>NOMBRE DEL PRODUCTO</P>
                        <img src="/images/england.png">
                    </div>

                    <div class="precio">
                        <p>$00000</p>
                    </div>
                </div>
            </div>
            <div class="comprarcarrito">
                <a href="#">COMPRAR CARRITO</a>
            </div>
    </main>

    <%- include("./partials/footer") %>

</body>

</html>