<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>

    <%- include("./partials/header") %>

        <main class="main-section">
            <div class="detail-container">
                <div class="detail-section">
                    <div class="detail">
                        <h3>Nombre del producto</h3>
                        <div class="icons">
                            <a href="/"><i class="fa-solid fa-trash"></i></a>
                            <a href="/products/edit"><i class="fa-solid fa-pencil"></i></a>
                        </div>
                    </div>
                    <div class="image-section">
                        <div class="image-top">
                            <img src="https://i.ebayimg.com/images/g/kXQAAOSwr61gI-U7/s-l400.jpg" alt="product">
                        </div>
                        <div class="image-bottom">
                            <i class="fa-solid fa-angle-left"></i>
                            <img src="https://i.ebayimg.com/images/g/kXQAAOSwr61gI-U7/s-l400.jpg" alt="product">
                            <img src="https://i.ebayimg.com/images/g/kXQAAOSwr61gI-U7/s-l400.jpg" alt="product">
                            <img src="https://i.ebayimg.com/images/g/kXQAAOSwr61gI-U7/s-l400.jpg" alt="product">
                            <img src="https://i.ebayimg.com/images/g/kXQAAOSwr61gI-U7/s-l400.jpg" alt="product">
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="price">
                            <h3 class="product-price">$ 100.000</h3>
                            <img src="/images/germany.gif" alt="germany-flag">
                        </div>
                        <h5>en 12x $ 8.333,34</h5>
                    </div>
                    <div class="buy-detail">
                        <button class="btn-buy">Comprar</button>
                        <button class="btn-chart">Agregar al Carrito</button>
                    </div>
                    <div class="detail">
                        <h4 class="description-title">Descripcion</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum aut consequuntur adipisci
                            maxime
                            reprehenderit voluptate distinctio dolorem inventore veniam amet!</p>
                    </div>
                </div>
            </div>
            <div class="comment-section">
                <h3 class="comment-title">PREGUNTAS Y RESPUESTAS</h3>
                <h4 class="title">Ultimas preguntas</h4>
                <div class="quest">
                    <div class="question">
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur officiis accusamus
                            illo
                            commodi, sed dolorem.</h5>
                    </div>
                    <div class="answer">
                        <i class="fa fa-light fa-arrow-turn-up"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ad ipsa accusamus est
                            quaerat
                            quisquam iste atque molestiae animi voluptas.</p>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <hr>
                <div class="comment-form">
                    <form action="#" method="post">
                        <div class="control">
                            <h4 class="comment-title">Preguntale al vendedor</h4>
                            <textarea name="new-comment" cols="30" rows="5"
                                placeholder="Escribi tu pregunta"></textarea>
                        </div>
                        <input id="send-btn" type="submit" value="Enviar">
                    </form>
                </div>
                <div style="clear: both;"></div>
            </div>
        </main>

        <%- include("./partials/footer") %>
</body>

</html>