<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>War Uniques</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/1b35912aa7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <header>
        <div class="panel-top">
            <div class="left">
                <i class="fa-regular fa-user"></i>
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="right">
                <p>Vender</p>
                <p>Sign in</p>
                <p>Log in</p>
            </div>
        </div>
        <section class="main-bar">
            <div class="logo">
                <img src="/images/waruniques-logo1.png" alt="logo">
            </div>
            <div class="search-panel">
                <input type="text">
                <i class="fa-regular fa-compass"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </section>
        <div class="flags-bar">
            <img src="/images/england.png" alt="england-flag">
            <img src="/images/usa.png" alt="usa-flag">
            <img src="/images/russia.png" alt="russia-flag">
            <img src="/images/germany.gif" alt="germany-flag">
            <img src="/images/japon.png" alt="japon-flag">
        </div>
    </header>
    <section>
        <div class="slider">
            <h4>Esta pagina sirve como mediador entre usuarios que han dado con objetos los cuales fueron parte de las
                grandes guerras que el mundo pudo vivir. Buscamos darle el merecido valor a estos objetos históricos, y
                que aquellas personas que quieran hacerse con uno poder darles la posibilidad.</h4>
        </div>
    </section>
    <main class="main-section">
        <section class="main-top">
            <h2 class="main-title">Ofertas</h2>
            <div class="offers-products">
                <div class="product">
                    <div class="product-image">
                        <img src="/images/war-helmet.png" alt="product">
                    </div>
                    <div class="product-detail">
                        <div class="product-name">
                            <p>Nombre del producto</p>
                            <img src="/images/germany.gif" alt="germany-flag">
                        </div>
                        <p>Descripcion del producto</p>
                        <p class="product-price">PRECIO</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/mauser-c96.png" alt="product">
                    </div>
                    <div class="product-detail">
                        <div class="product-name">
                            <p>Nombre del producto</p>
                            <img src="/images/england.png" alt="england-flag">
                        </div>
                        <p>Descripcion del producto</p>
                        <p class="product-price">PRECIO</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/mauser-c96.png" alt="product">
                    </div>
                    <div class="product-detail">
                        <div class="product-name">
                            <p>Nombre del producto</p>
                            <img src="/images/england.png" alt="england-flag">
                        </div>
                        <p>Descripcion del producto</p>
                        <p class="product-price">PRECIO</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/mauser-c96.png" alt="product">
                    </div>
                    <div class="product-detail">
                        <div class="product-name">
                            <p>Nombre del producto</p>
                            <img src="/images/england.png" alt="england-flag">
                        </div>
                        <p>Descripcion del producto</p>
                        <p class="product-price">PRECIO</p>
                    </div>
                </div>
            </div>
            <div class="see-more">
                <a href="#">VER TODO</a>
            </div>
        </section>
        <section class="main-bottom">
            <h2 class="main-title">Polulares</h2>
            <div class="popular-products">
                <div class="product">
                    <div class="product-image">
                        <img src="/images/war-lighter.jpg" alt="product">
                    </div>
                    <div class="product-detail">
                        <div class="product-name">
                            <p>Nombre del producto</p>
                            <img src="/images/usa.png" alt="usa-flag">
                        </div>
                        <p>Descripcion del producto</p>
                        <p class="product-price">PRECIO</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/russian-medal.jpg" alt="product">
                    </div>
                    <div class="product-detail">
                        <div class="product-name">
                            <p>Nombre del producto</p>
                            <img src="/images/russia.png" alt="russia-flag">
                        </div>
                        <p>Descripcion del producto</p>
                        <p class="product-price">PRECIO</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/russian-medal.jpg" alt="product">
                    </div>
                    <div class="product-detail">
                        <div class="product-name">
                            <p>Nombre del producto</p>
                            <img src="/images/russia.png" alt="russia-flag">
                        </div>
                        <p>Descripcion del producto</p>
                        <p class="product-price">PRECIO</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/russian-medal.jpg" alt="product">
                    </div>
                    <div class="product-detail">
                        <div class="product-name">
                            <p>Nombre del producto</p>
                            <img src="/images/russia.png" alt="russia-flag">
                        </div>
                        <p>Descripcion del producto</p>
                        <p class="product-price">PRECIO</p>
                    </div>
                </div>
            </div>
            <div class="see-more">
                <a href="#">VER TODO</a>
            </div>
        </section>
    </main>
</body>
<footer>
    <div class="footer">
        <div class="fotleft">
            <p><a href="#">Politica y privacidad</a></p>
            <p><a href="#">Terminos y condiciones</a></p>
            <p><a href="#">FAQ</a></p>
            <p><a href="#">Informacion de sitio</a></p>
        </div>
        <div class="fotmidle">
            <p>Copyright © 2022 WarUniques </p>
            <p>Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</p>
        </div>
        <div class="fotright">
            <div class="contactos">
                <img src="images/Whatsapp_logo(footer).png" alt="whatsapp">
                <img src="images/Icono_Mail(Footer).png" alt="gmail">
                <img src="images/instagram_logo(footer).png" alt="intsa">
            </div>
            <!-- <div class="fotlogo">
                <img src="/images/waruniques-logo1.png">
            </div> -->
        </div>
    </div>
</footer>

</html>