<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <%- include("./partials/header") %>

    <%- include("./partials/slider") %>

    <main class="main-section">
                <section class="main-top">
                    <h2 class="main-title">Ofertas</h2>
                    <div class="offers-products">
                        <div class="product">
                            <div class="product-image">
                                <a href="/products/detail"><img src="/images/war-helmet.png" alt="product"></a>
                            </div>
                            <div class="product-detail">
                                <div class="product-name">
                                    <p>Nombre del producto</p>
                                    <img src="/images/germany.gif" alt="germany-flag">
                                </div>
                                <p>Descripcion del producto</p>
                                <p class="product-price">PRECIO</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-image">
                                <a href="/products/detail"><img src="/images/mauser-c96.png" alt="product"></a>
                            </div>
                            <div class="product-detail">
                                <div class="product-name">
                                    <p>Nombre del producto</p>
                                    <img src="/images/england.png" alt="england-flag">
                                </div>
                                <p>Descripcion del producto</p>
                                <p class="product-price">PRECIO</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-image">
                                <a href="/products/detail"><img src="/images/mauser-c96.png" alt="product"></a>
                            </div>
                            <div class="product-detail">
                                <div class="product-name">
                                    <p>Nombre del producto</p>
                                    <img src="/images/england.png" alt="england-flag">
                                </div>
                                <p>Descripcion del producto</p>
                                <p class="product-price">PRECIO</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-image">
                                <a href="/products/detail"><img src="/images/mauser-c96.png" alt="product"></a>
                            </div>
                            <div class="product-detail">
                                <div class="product-name">
                                    <p>Nombre del producto</p>
                                    <img src="/images/england.png" alt="england-flag">
                                </div>
                                <p>Descripcion del producto</p>
                                <p class="product-price">PRECIO</p>
                            </div>
                        </div>
                    </div>
                    <div class="see-more">
                        <a href="#">VER TODO</a>
                    </div>
                </section>
                <section class="main-bottom">
                    <h2 class="main-title">Polulares</h2>
                    <div class="popular-products">
                        <div class="product">
                            <div class="product-image">
                                <a href="/products/detail"><img src="/images/war-lighter.jpg" alt="product"></a>
                            </div>
                            <div class="product-detail">
                                <div class="product-name">
                                    <p>Nombre del producto</p>
                                    <img src="/images/usa.png" alt="usa-flag">
                                </div>
                                <p>Descripcion del producto</p>
                                <p class="product-price">PRECIO</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-image">
                                <a href="/products/detail"><img src="/images/russian-medal.jpg" alt="product"></a>
                            </div>
                            <div class="product-detail">
                                <div class="product-name">
                                    <p>Nombre del producto</p>
                                    <img src="/images/russia.png" alt="russia-flag">
                                </div>
                                <p>Descripcion del producto</p>
                                <p class="product-price">PRECIO</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-image">
                                <a href="/products/detail"><img src="/images/russian-medal.jpg" alt="product"></a>
                            </div>
                            <div class="product-detail">
                                <div class="product-name">
                                    <p>Nombre del producto</p>
                                    <img src="/images/russia.png" alt="russia-flag">
                                </div>
                                <p>Descripcion del producto</p>
                                <p class="product-price">PRECIO</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-image">
                                <a href="/products/detail"><img src="/images/russian-medal.jpg" alt="product"></a>
                            </div>
                            <div class="product-detail">
                                <div class="product-name">
                                    <p>Nombre del producto</p>
                                    <img src="/images/russia.png" alt="russia-flag">
                                </div>
                                <p>Descripcion del producto</p>
                                <p class="product-price">PRECIO</p>
                            </div>
                        </div>
                    </div>
                    <div class="see-more">
                        <a href="#">VER TODO</a>
                    </div>
                </section>
    </main>

    <%- include("./partials/footer") %>

</body>

</html>