<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>War Uniques</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/1b35912aa7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="panel-top">
            <div class="left">
                <i class="fa-regular fa-user"></i>
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="right">
                <p>Vender</p>
                <p>Sign in</p>
                <p>Log in</p>
            </div>
        </div>
        <section class="main-bar">
            <div class="logo">
                <img src="/images/waruniques-logo.png" alt="logo">
            </div>
            <div class="search-panel">
                <input type="text">
            </div>
        </section>
    </header>
    <footer>
        <section class="footer">
            <div class="imgs">
                <ul type="none">
                    <li><img src="images/Whatsapp_logo(footer).png" alt="whatsapp"></li><p>CONTACTO: 3764-111111</p>
                    <li><img src="images/Icono_Mail(Footer).png" alt="gmail"></li><p>waruniques@gmail.com</p>
                    <li><img src="images/instagram_logo(footer).png" alt="intsa"></li><p>@waruniques</p>
                </ul>
            </div>
            <div class="c-1">
                <ul>
                    <li>Politica y privacidad: 
                        link:http//dfmpojopgs+ajmopfdhmna+</li>
                    <li>Terminos y condiciones:
                        link:http//dfmpojopgs+ajmopfdhmna+</li>
                </ul>
            </div>
            <div class="c-2">
                <ul>
                    <li>Copyright © 2022 WarUniques </li>
                    <li>Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</li>
                </ul>
            </div>
            <div class="fotlogo">
                <img src="/images/waruniques-logo.png">
            </div>
        </section>
    </footer>
</body>
</html>