<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <main class="main-area">
        <%- include("./partials/float_logo.ejs") %>
            <div class="big-box">
                <div class="small-box">
                    <form class="formulario" action="">
                        <div class="control">
                            <label>Usuario o email</label>
                            <input type="text" name="user">
                        </div>
                        <div class="control">
                            <label>Contraseña</label>
                            <input type="password" name="password">
                        </div>
                        <div class="control-password">
                            <div class="remember">
                                <input type="checkbox" name="remember">
                                <label>Recuerdame</label>
                            </div>
                            <div class="forgot">
                                <a href="#">¿Olvidaste tu contraseña?</a>
                            </div>
                        </div>
                        <div class="login">
                            <input type="submit" value="INICIAR SESION">
                        </div>
                    </form>
                </div>
            </div>
    </main>
</body>

</html>