<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <main class="main-section">
        <div class="logon">
            <a href="/"><img src="/images/waruniques-logo1.png" alt=""></a>
        </div>
        <div class="Bigbox">
            <div class="Smallbox">
                <div class="formulario">
                    <form action="">
                        <div class="control">
                            <label>Usuario o email</label>
                            <input type="text" name="user">
                        </div>
                        <div class="control">
                            <label>Contraseña</label>
                            <input type="password" name="password">
                        </div>
                        <div class="control-password">
                            <div class="remember">
                                <input type="checkbox" name="remember">
                                <label>Recuerdame</label>
                            </div>
                            <div class="forgot">
                                <a href="#">¿Olvidaste tu contraseña?</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="login">
                    <a href="#">INICIAR SESION</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>