<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/sell.css">
    </head>

    <main class="main-section">
        <div class="logon">
            <a href="/"><img src="/images/waruniques-logo1.png" alt=""></a>
        </div>
        <div class="all">
            <div class="vender_producto">VENDER PRODUCTO</div>
            <div class="top">
                <p>AGREGAR FOTO/S</p>
                <input type="text" placeholder="NOMBRE...">
            </div>
            <div class="medium">
                <div><img src="https://cdn-icons-png.flaticon.com/512/2/2338.png"></div>
                <input type="text" placeholder="DESCRIPCION...">
            </div>
            <div class="bottom">
                <p class="mas">+</p>
                <div class="precio">
                    <input type="numer" placeholder="PRECIO...">
                    <P>$</P>
                </div>
                <select name="PAÃS" class="select">
                    <option value="#">england</option>
                    <option value="#">usa</option>
                    <option value="#">russia</option>
                    <option value="#">germany</option>
                    <option value="#">japon</option>
                </select>
            </div>
        </main>
        