<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>War Uniques - Sign in</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/1b35912aa7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    <header>
        <div class="panel-top">
            <div class="left">
                <i class="fa-regular fa-user"></i>
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="right">
                <p>Vender</p>
                <a href="/signin"><p>Sign in</p></a>
                <a href="/login"><p>Log in</p></a>
            </div>
        </div>
        <section class="main-bar">
            <div class="logo">
                <img src="/images/waruniques-logo1.png" alt="logo">
            </div>
            <div class="search-panel">
                <input type="text">
                <i class="fa-regular fa-compass"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </section>
        <div class="flags-bar">
            <img src="/images/england.png" alt="england-flag">
            <img src="/images/usa.png" alt="usa-flag">
            <img src="/images/russia.png" alt="russia-flag">
            <img src="/images/germany.gif" alt="germany-flag">
            <img src="/images/japon.png" alt="japon-flag">
        </div>
    </header>
    <main class="main-section">
        <div class="Bigbox">
            <div class="logon"><img src="/images/waruniques-logo1.png" alt=""></div>
            <div class="Smallbox">
                <div class="formulario">
                    <div class="usuario">
                        <p>Usuario o gmail</p>
                        <form action= "" method="POST">
                            <input type="text" name="Usuario o gmail">
                    </div>
                    <div class="contraseña">
                        <p>Contraseña</p>
                        <form action= "" method="POST">
                            <input type="password" name="Usuario o gmail">
                    </div>
                    <div class="repetircontraseña">
                        <p>Repetir contraseña</p>
                        <form action= "" method="POST">
                            <input type="password" name="Usuario o gmail">
                    </div>
                </div>
                </form>
                <div class="iniciar-secion">
                    <a href="#">REGISTRARSE</a>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>
    <div class="footer">
        <div class="fotleft">
            <p><a href="#">Politica y privacidad</a></p>
            <p><a href="#">Terminos y condiciones</a></p>
            <p><a href="#">FAQ</a></p>
            <p><a href="#">Informacion de sitio</a></p>
        </div>
        <div class="fotmidle">
            <p>Copyright © 2022 WarUniques </p>
            <p>Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</p>
        </div>
        <div class="fotright">
            <div class="contactos">
                <img src="images/Whatsapp_logo(footer).png" alt="whatsapp">
                <img src="images/Icono_Mail(Footer).png" alt="gmail">
                <img src="images/instagram_logo(footer).png" alt="intsa">
            </div>
            <!-- <div class="fotlogo">
                <img src="/images/waruniques-logo1.png">
            </div> -->
        </div>
    </div>
</footer>
</html>