<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/signin.css">
</head>

<body>
    <main class="main-section">
        <%- include("./partials/float_logo.ejs") %> 
        <div class="Bigbox">
            <div class="Smallbox">
                <div class="formulario">
                    <form action="">
                        <div class="control">
                            <label>Nombre</label>
                            <input type="text" name="name">
                        </div>
                        <div class="control">
                            <label>Apellido</label>
                            <input type="text" name="lastname">
                        </div>
                        <div class="control">
                            <label>Email</label>
                            <input type="email" name="email">
                        </div>
                        <div class="control">
                            <label>Contraseña</label>
                            <input type="password" name="password">
                        </div>
                        <div class="control">
                            <label>Confirmar Contraseña</label>
                            <input type="password" name="password">
                        </div>
                </div>
                </form>
                <div class="register">
                    <a href="#">REGISTRARME</a>
                </div>
            </div>
        </div>
        </div>
    </main>
</body>

</html>