<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/sell.css">
</head>

<body>

    <%- include("./partials/header.ejs") %>

        <main class="main-section">
            <div class="all">
                <div class="vender_producto">VENDER PRODUCTO</div>
                <div class="top">
                    <a href="#">AGREGAR IMAGEN</a>
                    <input type="text" placeholder="NOMBRE...">
                </div>
                <div class="medium">
                    <div><img src="https://cdn-icons-png.flaticon.com/512/2/2338.png"></div>
                    <input type="text" placeholder="DESCRIPCION...">
                </div>
                <div class="bottom">
                    <div class="left-box">
                        <a href="#">+</a>
                    </div>
                    <div class="right-box">
                        <div class="price">
                            <input type="number" placeholder="PRECIO...">
                            <P>$</P>
                        </div>
                        <select name="flag" class="select">
                            <option value="england">England</option>
                            <option value="usa">Usa</option>
                            <option value="russia">Russia</option>
                            <option value="germany">Germany</option>
                            <option value="japon">Japon</option>
                        </select>
                    </div>
                </div>
                <div class="see-more">
                    <a href="#">PUBLICAR</a>
                </div>
        </main>

        <%- include("./partials/footer.ejs") %>

</body>

</html>