.main-section {
    height: 100vh;
    padding: 0;
}

.form-block {
    margin: auto;
}

.line-flag {
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
}

.middle {
    justify-content: center;
}

.flag-box {
    width: 25%;
    cursor: pointer;
    text-align: center;
    /* margin-top: 15%; */
    padding: 3%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.line-flag img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.block {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.block-flag {
    justify-content: space-between;
}

.block input {
    width: 92%;
    font-size: 1.5rem;
    margin: 5% auto 80%;
    padding: 1.2% 3.5%;
    border-radius: 10px;
}

.block textarea {
    width: 90%;
    font-size: 1.1rem;
    margin: 5% auto 80%;
    padding: 1.8% 3.5%;
    border-radius: 15px;
}

.block-price {
    display: flex;
    justify-content: center;
}

.block-price p {
    color: rgb(70, 150, 255);
    font-size: 2rem;
    margin: auto;
    margin-right: 1%;
}

.block-price input {
    width: 65%;
    margin: auto;
}

.block-contain {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-payment, .block-shipping, .block-credit {
    width: 45%;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.5);
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
}

.block-credit {
    width: 80%;
    margin: 0 auto;
}

.block-payment input, .block-shipping input, .block-credit input {
    height: 1.1rem;
    margin: 2% auto;
}

.title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    align-items: center;
    margin-bottom: 5%;
}

.title p {
    margin-left: 5%;
}

.credit-offer {
    display: flex;
    justify-content: space-around;
    color: white;
}

.block-img {
    width: 80%;
    background-color: darkslategray;
    color: white;
    text-align: center;
    margin: 5% auto 80%;
    padding: 5%;
    border-radius: 5px;
}

.block-img input {
    display: none;
}

.block-img label {
    margin-left: 5%;
}

.block h3 {
    width: 100%;
    color: white;
    background-color: rgba(165, 42, 42, 0.3);
    font-size: 1.5rem;
    text-align: center;
    padding: 10% 0;
}

h3 a {
    color: white;
    margin-right: 8%;
}

.btn-next {
    font-size: 1.2rem;
    color: white;
    background-color: rgb(70, 70, 255);
    padding: 8%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}