.main-section {
    height: 100%;
    padding: 0;
}

.form-block {
    margin: auto;
}

.line-flag {
    display: flex;
    justify-content: space-around;
}

.middle {
    justify-content: center;
}

.flag-box {
    width: 25%;
    max-width: 150px;
    cursor: pointer;
    text-align: center;
    padding: 3%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.line-flag img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.block {
    display: none;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
}

.flag-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.block div {
    text-align: center;
}

.block-flag {
    justify-content: flex-start;
}

.block-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.block input {
    width: 85%;
    max-width: 65%;
    font-size: 1.5rem;
    margin: 5% auto 0;
    padding: 1.2% 3.5%;
    border-radius: 10px;
}

.text-danger {
    width: 65%;
    font-size: 1.2rem;
    margin: auto;
    margin-top: 0.4rem;
    color: red !important;
}

.block textarea {
    width: 85%;
    font-size: 1.1rem;
    margin: 5% auto 0;
    padding: 1.8% 3.5%;
    border-radius: 15px;
}

.block-price {
    display: flex;
    justify-content: center;
}

.block-price p {
    color: rgb(70, 150, 255);
    font-size: 2rem;
    margin: auto;
    margin-right: 1%;
}

.block-price input {
    width: 65%;
    margin: 1rem auto;
}

.block-contain {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-payment,
.block-shipping,
.block-credit {
    width: 45%;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.5);
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
    border-radius: 5px;
    padding: 1% 0;
}

.block-credit {
    width: 80%;
    margin: 1rem auto;
}

.block-payment input,
.block-shipping input,
.block-credit input {
    height: 1.1rem;
    margin: 2% auto;
}

.title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    align-items: center;
    margin-bottom: 5%;
}

.title p {
    margin-left: 5%;
}

.credit-offer {
    display: flex;
    justify-content: space-around;
    color: white;
}

.block-img {
    width: 50%;
    background-color: darkslategray;
    color: white;
    text-align: center;
    margin: 5% auto;
    padding: 5%;
    border-radius: 15px;
}

.block-img input {
    display: none;
}

.block-img label {
    margin-left: 5%;
}

.back-title {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    color: white;
    background-color: rgba(165, 42, 42, 0.3);
    font-size: 1.2rem;
    padding: 5% 0;
}

.back-title a {
    color: white;
    margin: auto 0 auto 1rem;
}

.back-title h3 {
    margin-right: 1rem;
}

#btnNext {
    display: none;
}

.btn-next {
    font-size: 1.2rem;
    color: white;
    background-color: rgb(70, 70, 255);
    padding: 5%;
    border: none;
    cursor: pointer;
    transition: 450ms;
}

.btn-next:disabled {
    background-color: darkgrey;
}

.btn-back {
    background-color: transparent;
    border: none;
    color: white;
    margin: auto 0.5rem;
}

@media (max-width: 124px) {
    .back-title h3 {
        display: none;
    }

    .block input {
        font-size: 0.3rem;
    }

    .btn-next {
        font-size: 0.3rem;
    }
}

@media (max-width: 200px) {
    .flag-box {
        width: 50%;
    }
}

@media (min-width: 200px) {
    .flag-box {
        width: 40%;
    }
}

@media (max-width: 300px) {
    .flag-box {
        width: 40%;
    }

    .block input {
        font-size: 1rem;
    }
}

@media (min-width: 300px) {
    .flag-box {
        width: 30%;
    }
}

@media (max-width: 400px) {
    .flag-container {
        justify-content: space-between;
        height: 100%;
    }

    .line-flag {
        flex-direction: column;
        align-items: center;
        height: 90%;
        margin: 0;
    }

    .middle {
        height: 25%;
    }
}

@media (min-width: 400px) {
    .flag-container {
        justify-content: space-around;
        width: 85%;
        height: 90%;
        margin: auto;
    }
}

@media (min-width: 474px) {
    .flag-container {
        width: 80%;
        margin: 0 auto;
    }

    .flag-box {
        width: 25%;
    }
}

@media (min-width: 600px) {
    .block {
        justify-content: flex-start;
        align-items: center;
    }

    .back-title {
        padding: 3% 0;
    }

    .back-title i {
        font-size: 1.5rem;
    }

    .pay-content {
        justify-content: space-between;
    }

    .block-price,
    .block-contain {
        width: 95%;
    }

    .block-contain {
        justify-content: space-between;
    }

    .block-img {
        padding: 3%;
        margin-bottom: 10%;
    }

    .btn-next {
        width: 30%;
        padding: 2%;
        border-radius: 10px;
        margin: 1rem auto;
    }
}

@media (min-width: 720px) {
    .flag-container {
        width: 65%;
    }

    .line-flag {
        justify-content: space-between;
    }

    .middle {
        justify-content: center;
    }
}

@media (min-width: 1000px) {

    .back-title,
    .block textarea,
    .block-img label {
        font-size: 1.5rem;
    }

    .back-title i {
        font-size: 2rem;
    }

    .credit-offer label {
        margin-left: 6px;
        font-size: 1.2rem;
    }

    .block-img i {
        font-size: 1.5rem;
    }
}

@media (min-width: 1400px) {

    .flag-box {
        max-width: 200px;
    }

    .block textarea,
    .block-img label {
        font-size: 1.8rem;
    }

    .back-title i {
        font-size: 2rem;
    }

    .credit-offer label {
        margin-left: 6px;
        font-size: 1.4rem;
    }

    .block-img {
        width: 45%;
    }
}

@media (min-width: 1800px) {

    .back-title,
    .block textarea,
    .block-img label,
    .block input,
    .title {
        font-size: 2rem;
    }

    .back-title i {
        font-size: 2.5rem;
    }

    .credit-offer label {
        margin-left: 6px;
        font-size: 1.6rem;
    }

    .block textarea {
        width: 75%;
        margin: 2% auto;
    }

    .block-contain {
        width: 80%;
    }

    .block-credit {
        width: 50%;
    }

    .btn-next {
        width: 25%;
        font-size: 1.7rem;
    }

    .block-img {
        width: 40%;
    }
}