.detail-container {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto 10%;
    border-radius: 5px;
    padding-bottom: 1%;
}

/* Image */
.image-section {
    width: 85%;
    margin: auto;
    padding: 5% 0px;
}

.image-top img {
    width: 100%;
    border: solid black 1px;
    border-radius: 5px;
}

.image-bottom {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.image-bottom img {
    width: 20%;
    border: solid black 1px;
    border-radius: 5px;
}

/* Detail */
.detail-section {
    width: 90%;
    margin: 5% auto;
}

.detail {
    color: white;
    margin: 5% 0 5%;
}

.detail-buttom {
    background-color: rgba(10, 10, 10, 0.5);
    padding: 5% 3%;
    border-radius: 10px;
}

#name-title {
    padding: 5% 0 0 2%;
}

.icons {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 10% auto 0;
}

.icon {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 25%;
    padding: 3px 6px;
}

.icons i{
    font-size: 1rem;
    color: white;
}

.fa-pencil {
    margin-right: 2%;
}

.buy-detail {
    display: flex;
    flex-direction: column;
}

.buy-detail button {
    padding: 3%;
    margin: 2% 0px;
    border-radius: 5px;
    border: none;
}

.btn-buy {
    background-color: red;
    color: white;
}

.btn-chart {
    background-color: rgba(252, 61, 61, 0.877);
    color: white;
}

.price {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 3%;
}

#fees{
    padding-left: 3%;
}

.price img {
    width: 15%;
    border: solid grey 1px;
}

.description-title {
    margin-bottom: 5%;
}

.product-price {
    text-align: end;
}

/* Comment */
.comment-section {
    width: 90%;
    background-color: rgba(255,255,255,0.8);
    margin: auto;
    margin-top: 10%;
    padding: 5%;
    border-radius: 10px;
}

.comment-section .comment-title {
    font-size: 1.3rem;
    border-bottom: solid grey 1px;
}

.comment-section .title {
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.quest {
    border: solid grey 1px;
    box-shadow: 0 0 10px darkgrey;
    margin-bottom: 10%;
    padding: 5%;
}

.comment-title {
    margin-bottom: 10%;
}

.question, .answer {
    margin-bottom: 5%;
}

.answer {
    display: flex;
    justify-content: space-evenly;
}

.answer p {
    width: 70%;
    font-size: 0.8rem;
    color: rgb(100,100,100);
}

.answer i {
    height: 50%;
    font-size: 1.5rem;
    color: darkgrey;
    transform: rotate(90deg);
}

.control {
    margin-bottom: 10%;
}

.control input, .control textarea {
    width: 100%;
    margin-top: 3%;
}

hr {
    margin: 8% 0px;
    color: rgb(100, 97, 97);
}

#send-btn {
    background-color: red;;
    color: white;
    float: right;
    border-radius: 5px;
    padding: 3%;
    border: none;
}

@media (min-width: 480px) {

    .image-section {
        width: 100%;
    }

    .price img { 
        margin-left: 20%;
    }

    .price h3 {
        font-size: 0.7rem;
    }
    
    .detail h3{
        margin-right: 5%;
        font-size: 00.7rem;
    }

    .detail p{
        font-size: 00.7rem;
    }
}

@media (min-width: 720px) {

    .image-section {
        width: 100%;
    }

    .detail div {
        width: 40%;
    }

    .price img {
        width: 30%;
        margin-left: 20%;
    }

    .price h3 {
        font-size: 1.2rem;
    }
    
    .detail h3{
        margin-right: 5%;
        font-size: 0.9rem;
    }

    .detail p{
        font-size: 0.9rem;
    }
}