* {
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
}

.panel-top {
    display: flex;
    font-size: 0.7rem;
    border-bottom: 1px solid white;
    justify-content: space-between;
}

.left i {
    width: 0.7rem;
    margin: 5px 10px;
}

.right {
    display: flex;
    justify-content: space-around;
}

.right p {
    margin: 5px 10px;
}

.main-bar {
    display: flex;
}

.main-bar img {
    width: 100%;
}

.search-panel {
    display: flex;
    align-items: center;
}

.search-panel input {
    width: 60%;
}

.footer{
    display: flex;
    background-color: black;
    color: white;
    border-top: white solid 1px;
    font-size: 0.5rem;
    justify-content: space-around;
    width: 100%;
}

.footer div{
    flex-direction: column;
    padding: 3%;
    margin: auto;   
    padding: 1%;
}
