/* Slider */
.slider {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/background-war2.png");
    background-size: 100% 100%;
    color: lightgray;
}
.slider h4 {
    padding: 10px;
}

/* Main-Section */
.main-section{
    background-image: url("/images/background-main2.png");
    background-size: 100% 100%;
}

/* Main-Top */
.main-title {
    padding: 20px;
    color: lightgray;
}
.product {
    width: 90%;
    max-width: 250px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(150, 150, 150);
    text-align: center;
}
.product-image {
    width: 100%;
    background-color: white;
}
.product-image img {
    max-width: 100%;
    max-height: 180px;
    width: auto;
    height: auto;
}
.product-detail {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;
}
.product-detail p {
    margin: 5px;
    color: lightgray;
}
.product-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-name img {
    width: 10%;
    margin: 5px;
}
.product-price {
    text-align: right;
}
.see-more {
    text-align: center;
    padding-bottom: 15px;
}
.see-more a {
    font-size: 0.8rem;
    background-color: red;
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 15px;
}

/* Main-Bottom */

@media (min-width: 600px) {
    .offers-products, .popular-products{
        display: flex;
        justify-content: space-around;
    }
    .product {
        max-width: 200px;
    }
    .product-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 190px;
    }

}