.main-section {
    background-image: url("/images/background-main2.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
}


.Bigbox{
    text-align: center;
    height: auto;
    width: 40%;
    padding-bottom: 300px;
    padding-top: 200px;
}

.Smallbox{
    background-color: #3A4821;
    width: 100%;
    height: 400px;
    text-align: center;
    box-shadow: 0px 0px 30px black;
}

.logon img{
    width: 60%;
    padding-bottom: 15px;
}

.formulario{
    padding-top: 10%;
}

.formulario p{
    color: white;
    text-align: justify;
    padding-left: 23%;
    padding-bottom: 2%;
}

.formulario div{
    padding-top: 10%;
}

.recuerdame{
    padding-top:2% ;
    font-size: 0.7rem;
}

.iniciar-secion{
    font-size: 1rem;
    padding-top: 20%;
}

.iniciar-secion a{
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

