.main-section {
    width: 100vw;
    height: 170vw;
    background: linear-gradient(rgba(100,100,100,0.3), rgba(100,100,100,0.3)), url("/images/bk-camouflage2.png");
    background-repeat: repeat;
    background-size: 70%;
    padding: 2%;
}

.logon {
    max-width: 60%;
    margin: 3% 0 8%;
}

.logon img {
    width: 30%;
    margin-left: 10%;
    padding-bottom: 15px;
}

.Bigbox {
    width: 70vw;
    max-width: 50%;
    margin: auto;
    margin-bottom: 10%;
}

.Smallbox {
    background-color: rgba(59, 73, 34, 0.7);
    width: 100%;
    padding: 8%;
    box-shadow: 0px 0px 30px black;
    border: solid black 1px;
}

.formulario {
    text-align: start;
    padding: 5%;
}

.formulario p {
    margin-bottom: 2%;
    color: white;
}

.formulario input {
    width: 90%;
}

.control,
.control-password {
    font-size: 1rem;
    margin: 3%;
    padding: 3%;
}

.control label {
    color: white;
}

.control input {
    margin-top: 1%;
}

.control-password {
    color: white;
}

.control-password input {
    width: auto;
    margin: 1%;
}

.control-password a {
    text-decoration: none;
    color: white;
    margin-left: 2%;
}

.remember,
.forgot {
    width: 100%;
    align-items: center;
    font-size: 80%;
    margin-bottom: 15%;
}

.forgot {
    justify-content: end;
}

.login {
    text-align: end;
    margin-bottom: 5%;
}

.login a {
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 70%;
    text-decoration: none;
    white-space: nowrap;
}

@media (min-width: 1200px) {

    .Bigbox {
        width: 100%;
    }

    .Smallbox{
        background-color: rgba(59, 73, 34, 0.7);
        width: 70%;
        padding: 5%;
        margin: 14%;
        box-shadow: 0px 0px 30px black;
        border: solid black 1px;
    }

    .login {
        text-align: center;
        margin-bottom: 5%;
    }
}

@media (max-width: 720px) {

    .Bigbox {
        width: 100%;
    }

    .Smallbox{
        background-color: rgba(59, 73, 34, 0.7);
        width: 100%;
        padding: 10%;
        box-shadow: 0px 0px 30px black;
        border: solid black 1px;
    }

    .login {
        text-align: center;
        margin-bottom: 5%;
    }
}

@media (max-width: 480px) {

    .Bigbox {
        width: 100%;
    }

    .Smallbox{
        background-color: rgba(59, 73, 34, 0.7);
        width: 120%;
        padding: 5%;
        margin: -10%;
        box-shadow: 0px 0px 30px black;
        border: solid black 1px;
    }

    .login {
        text-align: center;
        margin-bottom: 5%;
    }
}