.main-section {
    background-image: url("/images/background-main2.png");
    text-align: center;
    padding: 5% 0px;
}


.Bigbox {
    width: 40vw;
    margin: auto;
}

.Smallbox {
    background-color: rgba(59, 73, 34, 0.7);
    width: 100%;
    padding: 8%;
    box-shadow: 0px 0px 30px black;
    border: solid black 1px;
}

.logon img {
    width: 60%;
    padding-bottom: 15px;
}

.formulario {
    display: block;
    text-align: start;
    padding: 5%;
}

.formulario p {
    margin-bottom: 2%;
    color: white;
}

.formulario input {
    width: 90%;
}

.control, .control-password {
    font-size: 1rem;
    margin: 3%;
    padding: 3%;
}

.control label {
    color: white;
}

.control input {
    margin-top: 1%;
}

.control-password {
    display: block;
    justify-content: space-between;
    color: white;
}

.control-password input {
    width: auto;
    margin: 1%;
}

.control-password a {
    text-decoration: none;
    color: white;
    margin-left: 2%;
}

.remember, .forgot {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 15%;
}

.forgot {
    justify-content: end;
}

.login {
    text-align: end;
    margin-bottom: 5%;
}

.login a {
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}

@media (min-width: 150px) {
    .control-password {
        
    }
}