
.info_items {
    display: flex;
    flex-direction: row;
    
}

.usu {
    width: 30%;
    height: 35%;
    border-radius: 100%;
    margin: 0px 25px;
    display: flex;
    flex-direction: row;
    margin: 105px 0px 0px 5px;

}

.info {
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ffffff00;
    
}

.info h2 {
    font-family: 'Lato', sans-serif;
    color: rgb(38, 46, 46);
    text-align: center;
    border-bottom-color: rgb(68, 70, 71);
}

h2 {
   font-family: 'Alfa Slab One', cursive;
   font-weight: normal;
   color: rgb(5, 5, 5);
   font-size: 50px;
   margin: 2% 5%;
   border-bottom: 1px solid #0C9;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #DFE0E0;
    margin-bottom: 15px;
}
input{
   color: rgb(38, 46, 46)
}
label {
    margin-bottom: 6px;
}

.info_items {
    display: flex;
    justify-content: center;
    background-color: #6262624a;
    border-radius: 25px
}
.card{
    width: 50%;
    margin: auto;
}

