.logon {
    max-width: 60%;
    margin: 3% 0 5%;
}

.logon img {
    width: 30%;
    margin-left: 10%;
    padding-bottom: 15px;
}

.Bigbox {
    width: 70vw;
    max-width: 40%;
    margin: auto;
    margin-bottom: 10%;
}

.Smallbox {
    background-color: rgba(59, 73, 34, 0.7);
    width: 100%;
    padding: 8%;
    box-shadow: 0px 0px 30px black;
    border: solid black 1px;
}

.formulario {
    text-align: start;
    padding: 5%;
}

.formulario p {
    margin-bottom: 2%;
    color: white;
}

.formulario input {
    width: 90%;
}

.control {
    width: 85%;
    font-size: 1rem;
    color: white;
    margin: 3% auto;
    padding: 3%;
}

.control input {
    margin-top: 1%;
}

.register {
    text-align: end;
    margin: 10% 0px;
}

.register a {
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}
