* {
    box-sizing: border-box;
    margin: 0;
}

/* Header */
header {
    background-color: black;
    color: white;
}

/* Panel-top */
.panel-top {
    display: flex;
    font-size: 0.7rem;
    border-bottom: 1px solid white;
    justify-content: space-between;
}

.left i {
    width: 0.7rem;
    margin: 5px 10px;
}

.right {
    display: flex;
    justify-content: space-around;
}

.right p {
    margin: 5px 10px;
}

/* Main-Bar */
.main-bar {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

.logo {
    width: 30%;
    margin: 0px 5px;
}

.main-bar img {
    width: 100%;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-size: 0.5rem;
    color: white;
    padding: 5px;
    border-top: white solid 1px;
}

/* FootLeft */
.fotleft {
    width: 30%;
    margin: auto;
}

.fotleft p {
    margin: 5px;
}

.fotleft a {
    text-decoration: none;
    color: white;

}

/* FootMiddle */
.fotmidle {
    width: 30%;
    margin: auto;
}

.fotmidle p {
    margin: 5px;
}

/* FootRight */
.fotright {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.contactos {
    display: flex;
    justify-content: center;
}

.contactos img {
    width: 30%;
    margin: 2%;
    padding-top: 5%;
}

.fotlogo {
    width: 50%;
    margin: auto;
}

.fotlogo img {
    width: 100%;
    margin: auto;
    padding-bottom: 5%;
}