* {
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
}

.panel-top {
    display: flex;
    font-size: 0.7rem;
    border-bottom: 1px solid white;
    justify-content: space-between;
}

.left i {
    width: 0.7rem;
    margin: 5px 10px;
}

.right {
    display: flex;
    justify-content: space-around;
}

.right p {
    margin: 5px 10px;
}

.main-bar {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

.logo {
    width: 30%;
    margin: 0px 5px;
}

.main-bar img {
    width: 100%;
}

.search-panel {
    display: flex;
    align-items: center;
    margin: 0px 5px;
}

.search-panel input {
    width: 70%;
    border: none;
    border-radius: 15px;
}

.search-panel i {
    color: red;
    margin: 0px 5px;
}

.flags-bar {
    display: flex;
    justify-content: space-around;
}

.flags-bar img {
    width: 15%;
    margin: 10px;
}