* {
    box-sizing: border-box;
    margin: 0;
}

/* Header */
header {
    background-color: black;
    color: white;
}

/* Panel-top */
.panel-top {
    display: flex;
    font-size: 0.7rem;
    border-bottom: 1px solid white;
    justify-content: space-between;
}
.left i {
    width: 0.7rem;
    margin: 5px 10px;
}
.right {
    display: flex;
    justify-content: space-around;
}
.right p {
    margin: 5px 10px;
}

/* Main-Bar */
.main-bar {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
.logo {
    width: 30%;
    margin: 0px 5px;
}
.main-bar img {
    width: 100%;
}

/* Footer */
footer {
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 70px;
}