.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    text-align: center;
}

.nav-logo {
    width: 5rem;
}

.nav-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.fa-house {
    color: black;
    opacity: 0.5;
}

.left-title {
    color: rgb(100,100,100);
    font-weight: bold;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}