.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    text-align: center;
}

.logo {
    width: 10rem;
    margin-top: 0.5rem;
    opacity: 0.7;
}

.nav-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.fa-house {
    font-size: 1.2rem;
    color: black;
    opacity: 0.5;
}

.left-title {
    color: rgb(100,100,100);
    font-weight: bold;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}