.sidebar {
    position: fixed;
    width: 20%;
    height: 93%;
    margin: 2rem 1rem;
    text-align: center;
    background-color: rgba(40, 40, 40, 0.9);
    border: 1px solid black;
    border-radius: 20px;
}

.sidebar-title {
    color: white;
}