.sidebar {
    position: fixed;
    width: 20%;
    height: 95%;
    margin: 2rem 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
}

.logo {
    width: 90%;
    margin-left: 20%;
    margin-right: 20%;
}