.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 17%;
    height: 8rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 5px 0px rgb(70, 70, 70);
}

.top-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon-card {
    position: relative;
    bottom: 2rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
}

.flag {
    width: 100%;
    height: 2rem;
    box-shadow: 3px 5px 5px 0px grey;
}

.data-card {
    padding: 0.7rem;
}

.data-title {
    font-size: 1.2rem;
    color: darkgrey;
    font-weight: bold;
}