.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
}

.footleft {
    font-size: 1.1rem;
}

.anchor-foot {
    text-decoration: none;
    color: black;
}

.footright {
    width: 45%;
}

.footlist {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    list-style: none;
}

.footlist a {
    text-decoration: none;
    color: black;
    opacity: 0.9;
}

/*
.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center;
    border-top: solid black 1px;
}

.fotleft,
.fotmidle {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 5%;
}

.fotright {
    width: 10%;
}

.fotleft p,
.fotmidle p {
    margin-top: 10%;
    text-align: center;
}

.fotleft a {
    text-decoration: none;
    color: white;

}

.contactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.contactos img {
    height: 20px;
    margin: 3px;
}

.contactos div {
    display: flex;
    justify-content: center;
    width: 5%;
}
*/