<header>
    <section class="main-bar">
        <div class="logo">
            <a href="/"><img src="/images/waruniques-logo1.png" alt="logo"></a>
        </div>
        <div class="search-panel">
            <form action="/products/search" method="POST">
                <input type="text" name="search">
                <!-- <i class="fa-regular fa-compass"></i> -->
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </form>
        </div>
        <div class="nav-panel">
            <button class="hamb-menu"><i class="fa-solid fa-bars"></i></button>
            <nav class="hamb-nav">
                <% if (locals?.isLogged) { %>
                    <div class="nav-user-contain">
                        <div class="nav-user">
                            <img class="nav-user-img" src="/images/user-image/<%= isLogged.imageURL %> "
                                alt="user-avatar">
                            <button class="btn-nav-user" onclick="displayMenu()">
                                Hola <%= isLogged.name %>
                                    <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="nav-guess">
                            <p><a href="/user/login">Login</a></p>
                            <p><a href="/user/signin">Sign in</a></p>
                        </div>
                        <% } %>
            </nav>
        </div>
    </section>
    <div class="nav-user-content">
        <div>
            <p><a href="/user/profile">Mi cuenta</a></p>
            <p><a href="/products/add">Vender</a></p>
            <p><a href="/user/logout">Logout</a></p>
        </div>
    </div>
</header>
<script src="/js/viewJS/main.js"></script>