<section>
    <div class="slider">
        <h4>Ningún bastardo ganó jamás una guerra muriendo por su patria. La ganó haciendo que otro estúpido bastardo muera por la suya. George S. Patton</h4>
    </div>
</section>